* {
  text-align: center;
  font-family: Helvetica, sans-serif;
}

h1, h2, h3 {
  font-weight: bold;
}

h1 {
  font-size: 70px;
  color: white;
}
.navheader {
  background-image: url("../images/the-flatiron-building.png");
}
.nav {
  list-style-type: none;
  font-size: 18px;
  color: white;
}

h2 {
  font-size: 32px;
}
h3 {
  font-size: 23px
}

div p {
  font-size: 14px;
}

.designedny h2 {
  background-image: url("../images/the-flatiron-building.png");
  color: white;
}

.copyright {
  font-size: 11px;
  color: white;
}

.navfooter p {
  text-align: left;
  background-color: gray;
}
